<div class="card">
    <div class="card-body">
        <h1>Carro de Compras</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Valor</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>shop</td>
                        <td>50</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>