<div id="container">


    <!--START OF THE NEW ARRIVALS SECTION-->
    <div id="display_pro">
        <h2 class="new_arr">New Arrivals</h2>
        <div id="flex">
            <div id="first_pro" class="one">
                <div class="img" id="img1">
                    <span class="sale_tag">Sale!</span><span class="like_btn"><i class="fa-regular fa-heart"></i></span>
                </div>
                <p class="caption_">
                    Green gown <br />
                    <span class="cancelled">$50.00</span>
                    <span class="new">$30.00</span>
                </p>
            </div>

            <div id="first_pro" class="one">
                <div class="img" id="img2">
                    <span class="sale_tag">Sale!</span><span class="like_btn"><i class="fa-regular fa-heart"></i></span>
                </div>
                <p class="caption_">
                    Elegant Top <br />
                    <span class="cancelled">$65.00</span>
                    <span class="new">$40.00</span>
                </p>
            </div>

            <div id="first_pro" class="one">
                <div class="img" id="img3">
                    <span class="sale_tag">Sale!</span><span class="like_btn"><i class="fa-regular fa-heart"></i></span>
                </div>
                <p class="caption_">
                    Get sporty <br />
                    <span class="cancelled">$45.00</span>
                    <span class="new">$35.00</span>
                </p>
            </div>

            <div id="first_pro" class="one">
                <div class="img" id="img4">
                    <span class="sale_tag">Sale!</span><span class="like_btn"><i class="fa-regular fa-heart"></i></span>
                </div>
                <p class="caption_">
                    Chic but silk <br />
                    <span class="cancelled">$70.00</span>
                    <span class="new">$55.00</span>
                </p>
            </div>

            <div id="first_pro" class="one">
                <div class="img" id="img5">
                    <span class="sale_tag">Sale!</span><span class="like_btn"><i class="fa-regular fa-heart"></i></span>
                </div>
                <p class="caption_">
                    Show up classy <br />
                    <span class="cancelled">$54.00</span>
                    <span class="new">$43.00</span>
                </p>
            </div>
        </div>

    </div>
    <!--END OF THE NEW ARRIVALS SECTION-->

</div>